<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/playlist.css" />
    <link
      rel="shortcut icon"
      href="../images/favicon.ico"
      type="image/x-icon"
    />
    <title>My Playlist</title>
  </head>
  <body>
    <header id="cabecalho">
      <div id="container">
        <nav>
          <a href="../index.html" class="logo" ><img src="../images/logo.png" alt=""/></a>

          <a class="menu" href="../index.html">home</a>
          <a class="menu" href="playlist.html">playlist</a>
          <a class="menu" href="about-us.html">about us</a>

          <div class="btn-contato">
            <a href=""><button>contato</button></a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <h1>Playlist</h1>

      <ul class="playlist">
        <li>
            <img src="../images/counting-my-blessings.jpg" alt="" width="50px">
            Counting My Blessings - Seph Schlueter
            <a href="Couting-my-blessings/counting-my-blessings.html"> ver mais </a>
        </li>
        <li>
            <img src="../images/cover-02.jpg" alt="" width="50px">
            Oceans (Where Feet May Fail) - Hillsong UNITED
            <a href="Oceans/oceans.html"> ver mais</a>
        </li>
        <li>
            <img src="../images/cover-03.jpg" alt="" width="50px">
            Total eclipse of the heart - Bonnie Tyler
            <a href="Total-eclipse-of-the-heart/Total-eclipse-of-the-heart.html">
            ver mais</a>
        </li>
        <li>
            <img src="../images/cover-04.png" alt="" width="50px">
            Angeleyes - ABBA 
            <a href="Angeleyes/angeleyes.html"> ver mais</a>
        </li>
        <li>
            <img src="../images/cover-05.jpg" alt="" width="50px">
            So Will i - Hillsong UNITED
            <a href="So-Will-i/so-will-i.html"> ver mais</a>
        </li>
        <li>
            <img src="../images/cover-06.jpg" alt="" width="50px">
            Chicago - Michael Jackson 
            <a href="Chicago/chicago.html"> ver mais</a>
        </li>
        <li>
            <img src="../images/cover-08.jpg" alt="" width="50px">
            Don’t let the sun go down on me - Elton John
            <a href="Don’t-let-the-sun-go-down-on-me/Dont-let-the-sun-go-down-on-me.html">ver mais</a>
        </li>
        <li>
            <img src="../images/cover-09.jpg" alt="" width="50px">
            Som da liberdade - DJ PV
            <a href="Som-da-Liberdade/Som-da-Liberdade.html"> ver mais</a>
        </li>
        <li>
            <img src="../images/cover-10.jpg" alt="" width="50px">
            I don’t wanna set the world on fire - The Ink Spots
            <a href="Set-the-world-on-fire/Set-the-world-on-fire.html">
            ver mais</a>
        </li>
        <li>
            <img src="../images/cover-07.jpg" alt="" width="50px">
            Dandelions - Ruth B <a href="Dandelios/dandelion.html"> ver mais</a>
        </li>
      </ul>
    </main>

    <footer>
      <p>&copy; April of 2024 | Mirela Amarante e Stefanny Gonsalves</p>
    </footer>

    <script src="../scripts/index.js"></script>
  </body>
</html>
