<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Couting my Blessings</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>So Will I</h1>
            <h2>Hillsong UNITED</h2>

            <ul class="menu-descricao">
                <li><a href="so-will-i.html">Letra</a></li>
                <li><a href="traducao4.html">Tradução</a></li>
                <li><a href="significado04.html">Significado</a></li>
            </ul>
                <h1>Significado</h1>
            <div class="letra-musica">
                <p class="paragrafo-significado">A música 'So Will I (100 Billion X)' do grupo Hillsong United é uma expressão de adoração e maravilhamento diante da criação e do poder divino. A letra começa com uma referência ao Deus criador, que existia antes do início dos tempos e que, com sua palavra, deu origem a tudo o que existe, desde as galáxias até a menor das criaturas. A canção utiliza uma linguagem poética para descrever a magnitude da criação, sugerindo que, se todo o universo existe para louvar a Deus, o cantor e ouvinte também devem se unir a esse coro universal de adoração.
                </p>
                <br>
                <p class="paragrafo-significado">A segunda parte da música aborda a fidelidade e a intenção por trás da palavra divina, que nunca é vã ou sem propósito. A natureza e a ciência são apresentadas como seguidoras do comando de Deus, e a humanidade é convidada a observar e aprender com o mundo ao redor. A letra sugere que, ao ver a ordem e a beleza da criação, podemos entender melhor o coração de Deus e, assim, escolher seguir seus caminhos e preceitos. A repetição do verso 'so will I' (assim o farei) é um compromisso pessoal de alinhar a própria vida com a vontade e o louvor a Deus.</p>
                <br>
                <p class="paragrafo-significado">Por fim, a canção se aprofunda no tema da salvação, refletindo sobre o sacrifício de Jesus, que é descrito como o 'Deus da salvação'. A imagem de Jesus abandonado na escuridão para morrer por nossos pecados é contrastada com a ideia de que, através de sua morte, incontáveis falhas humanas são apagadas. A música termina com uma poderosa declaração de amor e sacrifício, onde Deus é retratado como aquele que nunca abandona um único ser humano, e o cantor se compromete a viver e amar com a mesma intensidade e dedicação. 'So Will I (100 Billion X)' é uma canção que convida à reflexão sobre a grandeza de Deus e a resposta humana de adoração e entrega.</p>  
            </div>
        </div>
        <div class="rodape">
            <footer>
                &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
            </footer>
        </div>
    </body>
</html>