<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>So Will I</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>So Will I</h1>
            <h2>Hillsong UNITED</h2>

            <ul class="menu-descricao">
                <li><a href="so-will-i.html">Letra</a></li>
                <li><a href="traducao4.html">Tradução</a></li>
                <li><a href="significado04.html">Significado</a></li>
            </ul>

            <div class="letra-musica">

                <h1>Tradução</h1>

                <p>Deus da criação</p>
                <p>Lá no princípio</p>
                <p>Antes do início do tempo</p>
                <p>Sem nenhum ponto de referência</p>
                <p>Tu falaste à escuridão</p>
                <p>E raiou a maravilha da luz</p>
                <br>
                <p>E ao Teu falar</p>
                <p>Cem bilhões de galáxias nasceram</p>
                <p>No soprar do Seu respirar, os planetas se formaram</p>
                <p>Se as estrelas foram feitas pra Te adorar, eu também irei</p>
                <p>Eu posso ver Teu coração em tudo que criaste</p>
                <p>Cada estrela que brilha, um sinal de fogo da graça</p>
                <p>Se a criação canta Teus louvores, eu também cantarei</p>
                <br>
                <p>Deus de promessas</p>
                <p>Tu não falas em vão</p>
                <p>Nenhuma sílaba inútil ou vazia</p>
                <p>Porque uma vez que Tu falaste</p>
                <p>Toda a natureza e a ciência</p>
                <p>Seguiram o som da Tua voz</p>
                <br>
                <p>E ao Teu falar</p>
                <p>Cem bilhões de criaturas capturam o Teu respirar</p>
                <p>Evoluindo na direção do que disseste</p>
                <p>Se tudo isso revela a Tua natureza, eu também irei</p>
                <p>Eu posso ver o Teu coração em tudo o que você diz</p>
                <p>Cada céu colorido, uma tela da Sua graça</p>
                <p>Se a criação ainda Te obedece, eu também irei</p>
                <br>
                <p>Eu também irei, eu também irei</p>
                <br>
                <p>Se as estrelas foram feitas pra Te adorar, eu também irei</p>
                <p>Se as montanhas se prostram em reverência, eu também irei</p>
                <p>Se os oceanos rugem a Tua grandeza, eu também irei</p>
                <p>Pois se tudo existe para Te exaltar, eu também irei</p>
                <p>Se o vento vai para onde o envias, eu também irei</p>
                <p>Se as rochas clamam em silêncio, eu também irei</p>
                <p>Se a soma de todos os nossos louvores ainda for insuficiente</p>
                <p>Então cantaremos de novo cem bilhões de vezes</p>
                <br>
                <p>Deus da salvação</p>
                <p>Buscaste o meu coração</p>
                <p>Em meio a todas as minhas falhas e orgulho</p>
                <p>Em um monte que criaste</p>
                <p>A luz do mundo</p>
                <p>Abandonada na escuridão para morrer</p>
                <br>
                <p>E ao Teu falar</p>
                <p>Cem bilhões de falhas desaparecem</p>
                <p>Onde perdeste Sua vida para que eu a encontrasse aqui</p>
                <p>Se deixaste o Seu túmulo para trás, eu também irei</p>
                <p>Eu posso ver o Teu coração em tudo que fizeste</p>
                <p>Cada parte projetada em uma obra de arte chamada amor</p>
                <p>Se alegremente Tu escolheste se render, eu também irei</p>
                <br>
                <p>Eu posso ver o Teu coração</p>
                <p>De oito bilhões de formas diferentes</p>
                <p>Cada alma preciosa, um filho que morreste para salvar</p>
                <p>Se deste a Tua vida para amá-los, eu também irei</p>
                <br>
                <p>Como farias novamente cem bilhões de vezes</p>
                <p>Mas que medida poderia se comparar ao Seu desejo?</p>
                <p>És Aquele que nunca deixa um para trás</p>
            </div>

            <div class="foto-album4">
               <img src="../../_img/cover-04.png" alt="">
               <p>So Will I (100 Billion X)- 2017 </p>
               <audio src="../../_musicas/So Will I (100 Billion X) - Hillsong Worship.mp3" controls class="audio4">musica</audio>
            </div>
        </div>
        <div class="rodape">
            <footer>
                &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
            </footer>
        </div>
    </body>
</html>