<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Dandelions</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Dandelions</h1>
            <h2>Ruth. B</h2>

            <ul class="menu-descricao">
                <li><a href="dandelion.html">Letra</a></li>
                <li><a href="traducao07.html">Tradução</a></li>
                <li><a href="significado07.html">Significado</a></li>
            </ul>

            <div class="letra-musica">
                <h1>Letra</h1>

                <p>Maybe it's the way you say my name</p>
                M<p>aybe it's the way you play your game</p>
                <p>But it's so good, I've never known anybody like you</p>
                <p>But it's so good, I've never dreamed of nobody like you</p>
                <br>
                <p>And I've heard of a love that comes once in a lifetime</p>
                <p>And I'm pretty sure that you are that love of mine</p>
                <br>
                <p>'Cause I'm in a field of dandelions</p>
                <p>Wishing on every one that you'll be mine, mine</p>
                <p>And I see forever in your eyes</p>
                <p>I feel okay when I see you smile, smile</p>
                <p>Wishing on dandelions all of the time</p>
                <p>Praying to God that one day you'll be mine</p>
                <p>Wishing on dandelions all of the time, all of the time</p>
                <br>
                <p>I think that you are the one for me</p>
                <p>'Cause it gets so hard to breathe</p>
                <p>When you're looking at me</p>
                <p>I've never felt so alive and free</p>
                <p>When you're looking at me</p>
                <p>I've never felt so happy</p>
                <br>
                <p>And I've heard of a love that comes once in a lifetime</p>
                <p>And I'm pretty sure that you are that love of mine</p>
                <br>
                <p>'Cause I'm in a field of dandelions</p>
                <p>Wishing on every one that you'll be mine, mine</p>
                <p>And I see forever in your eyes</p>
                <p>I feel okay when I see you smile, smile</p>
                <p>Wishing on dandelions all of the time</p>
                <p>Praying to God that one day you'll be mine</p>
                <p>Wishing on dandelions all of the time, all of the time</p>
                <br>
                <p>Dandelion, into the wind you go</p>
                <p>Won't you let my darling know?</p>
                <p>Dandelion, into the wind you go</p>
                <p>Won't you let my darling know that</p>
                <br>
                <p>I'm in a field of dandelions</p>
                <p>Wishing on every one that you'll be mine, mine</p>
                <p>And I see forever in your eyes</p>
                <p>I feel okay when I see you smile, smile</p>
                <p>Wishing on dandelions all of the time</p>
                <p>Praying to God that one day you'll be mine</p>
                <p>Wishing on dandelions all of the time, all of the time</p>
                <br>
                <p>I'm in a field of dandelions</p>
                <p>Wishing on every one that you'll be mine, mine</p>
            </div>

            <div class="foto-album5">
                <img src="../../_img/cover-07.jpg" alt="">
                <p>Dandelions - 2022 </p>
                <audio src="../../_musicas/" controls class="audio5"></audio>
             </div>
         </div>
         
         <div class="rodape">
             <footer>
                 &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
             </footer>
         </div>
 
        </div>
    </body>
</html>