<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Dandelions</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Dandelions</h1>
            <h2>Ruth. B</h2>

            <ul class="menu-descricao">
                <li><a href="dandelion.html">Letra</a></li>
                <li><a href="traducao07.html">Tradução</a></li>
                <li><a href="significado07.html">Significado</a></li>
            </ul>

            <div class="letra-musica">
                <h1>Significado</h1>

                <p class="paragrafo-significado">A música 'Dandelions', interpretada pela artista canadense Ruth B., é uma delicada expressão de amor e esperança. A letra da canção revela os sentimentos profundos de alguém que está apaixonado e deseja ardentemente que esse amor seja correspondido. A referência aos dandelions, que em português são conhecidos como 'dentes-de-leão', é uma metáfora para os desejos e sonhos que são soprados ao vento, na esperança de que se tornem realidade.
                </p>
                <br>
                <p class="paragrafo-significado">A narrativa lírica da música é construída em torno da ideia de um amor único e raro, 'que vem uma vez na vida'. A artista descreve a intensidade desse sentimento e como ele a faz se sentir viva e feliz. A repetição do ato de desejar sobre os dandelions simboliza a constância e a intensidade do desejo da protagonista de que a pessoa amada seja sua. A canção transmite uma sensação de otimismo e fé no amor, sugerindo que, apesar das incertezas, vale a pena nutrir esperanças e sonhos.</p>
                <br>
                <p class="paragrafo-significado">Musicalmente, Ruth B. é conhecida por suas composições emotivas e sua habilidade de contar histórias através de suas letras. 'Dandelions' não é exceção, com sua melodia suave e a performance vocal expressiva de Ruth B., a música consegue capturar a essência de um amor doce e sonhador. A canção se torna um hino para todos aqueles que já desejaram intensamente por um amor, utilizando a natureza como uma confidente para seus mais profundos anseios amorosos.</p>
                
            </div>
         <div class="rodape">
             <footer>
                 &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
             </footer>
         </div>
 
        </div>
    </body>
</html>