<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Oceans (Where Feet May Fail)</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Oceans (Where Feet May Fail)</h1>
            <h2>Hillsong United</h2>
            <audio src="../_musicas/"></audio>

            <ul class="menu-descricao">
                <li><a href="oceans.html">Letra</a></li>
                <li><a href="tradução02.html">Tradução</a></li>
                <li><a href="significado02.html">Significado</a></li>
            </ul>

            <div class="letra-musica">
                <h1>Letra</h1>

                <p>You call me out upon the waters</p>
                <p>The great unknown where feet may fail</p>
                <p>And there I find You in the mystery</p>
                <p>In oceans deep, my faith will stand</p>
                <br>
                <p>And I will call upon Your name</p>
                <p>And keep my eyes above the waves</p>
                <p>When oceans rise, my soul will rest in Your embrace</p>
                <p>For I am Yours and You are mine</p>
                <br>
                <p>Your grace abounds in deepest waters</p>
                <p>Your sovereign hand will be my guide</p>
                <p>Where feet may fail and fear surrounds me</p>
                <p>You've never failed and You won't start now</p>
                <br>
                <p>So I will call upon Your name</p>
                <p>And keep my eyes above the waves</p>
                <p>When oceans rise, my soul will rest in Your embrace</p>
                <p>For I am Yours and You are mine, oh</p>
                <p>And You are mine, oh</p>
                <br>
                <p>Spirit lead me where my trust is without borders</p>
                <p>Let me walk upon the waters</p>
                <p>Wherever You would call me</p>
                <p>Take me deeper than my feet could ever wander</p>
                <p>And my faith will be made stronger</p>
                <p>In the presence of my Savior</p>
                <br>
                <p>Spirit lead me where my trust is without borders</p>
                <p>Let me walk upon the waters</p>
                <p>Wherever You would call me</p>
                <p>Take me deeper than my feet could ever wander</p>
                <p>And my faith will be made stronger</p>
                <p>In the presence of my Savior</p>
                <p>Yeah, yeah, yeah, yeah</p>
                <p>Oh, Jesus, You're my God</p>
                <br>
                <p>I will call upon Your name</p>
                <p>Keep my eyes above the waves</p>
                <p>My soul will rest in Your embrace</p>
                <p>I am Yours and You are mine</p>
            </div>

            <div class="foto-album2">
                <img src="../../_img/cover-02.jpg" alt="">
                <p>Oceans (Where Feet May Fail) - 2013 </p>
                <audio src="../../_musicas/" controls></audio>
             </div>
         </div>
         
         <div class="rodape">
             <footer>
                 &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
             </footer>
         </div>
 
        </div>
    </body>
</html>