<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Oceans (Where Feet May Fail)</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Oceans (Where Feet May Fail)</h1>
            <h2>Hillsong UNITED</h2>

            <ul class="menu-descricao">
                <li><a href="oceans.html">Letra</a></li>
                <li><a href="tradução02.html">Tradução</a></li>
                <li><a href="significado02.html">Significado</a></li>
            </ul>
                <h1>Significado</h1>
            <div class="letra-musica">
                <p class="paragrafo-significado">A música 'Oceans (Where Feet May Fail)' da banda Hillsong United é uma poderosa expressão de fé e confiança em Deus, mesmo diante do desconhecido e das adversidades. A letra fala sobre ser chamado para águas profundas, o 'grande desconhecido', onde os pés podem falhar. Essa metáfora pode ser interpretada como um chamado para enfrentar desafios e situações que estão além da nossa zona de conforto, onde a fé é testada. A presença de Deus é encontrada nesse mistério, e é nesse ponto que a fé do indivíduo se mantém firme.
                </p>
                <br>
                <p class="paragrafo-significado">A canção continua com um refrão que reforça a ideia de manter os olhos fixos em Deus ('above the waves'), sugerindo que, ao focar na divindade, a alma encontra descanso e paz, mesmo quando as 'águas' da vida se agitam. A repetição da frase 'For I am Yours and You are mine' ressalta a relação pessoal e íntima entre o crente e Deus, uma conexão que traz segurança e pertencimento. A graça de Deus é descrita como abundante, mesmo nas águas mais profundas, e a mão soberana de Deus é vista como um guia confiável.</p>
                <br>
                <p class="paragrafo-significado">O pedido para que o Espírito Santo conduza o indivíduo a um lugar onde a confiança não tem limites é um apelo para uma fé inabalável e uma disposição para seguir o chamado de Deus, independentemente de onde isso possa levar. A música se torna uma oração para que a fé seja fortalecida na presença do Salvador, sugerindo que, ao se aprofundar em experiências que desafiam a compreensão e o controle humano, a fé se torna mais robusta. 'Oceans (Where Feet May Fail)' é um hino de adoração que inspira coragem e entrega total à vontade divina, encorajando os ouvintes a confiar em Deus em todas as circunstâncias.</p>
            </div>
        </div>
        <div class="rodape">
            <footer>
                &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
            </footer>
        </div>
    </body>
</html>