<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Angeleyes</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Angeleyes</h1>
            <h2>ABBA</h2>

            <ul class="menu-descricao">
                <li><a href="angeleyes.html">Letra</a></li>
                <li><a href="traducao05.html">Tradução</a></li>
                <li><a href="significado05.html">Significado</a></li>
            </ul>
                <h1>Significado</h1>
            <div class="letra-musica">
                <p class="paragrafo-significado">A música 'Angeleyes' do grupo sueco ABBA é uma narrativa melódica que explora os sentimentos de uma pessoa que foi encantada e posteriormente desiludida pelo olhar sedutor de um amor passado. A letra descreve a experiência de ver um antigo amante com outra pessoa e a dor que isso causa, especialmente ao lembrar como esse olhar, outrora direcionado a si, agora é compartilhado com outra pessoa. A expressão 'angeleyes' sugere uma inocência e pureza que, no contexto da música, é ironicamente contrastada com a realidade de que esse olhar é enganador e traz consigo uma promessa de paraíso que, no fim, revela-se uma ilusão.
                </p>
                <br>
                <p class="paragrafo-significado">A narradora da canção reflete sobre a dor de lembrar os bons momentos e a dificuldade de esquecer alguém que causou tanto impacto emocional. A repetição do refrão 'Look into his angeleyes' atua como um aviso para não se deixar enganar pela aparência exterior que pode ocultar intenções menos nobres. A música, portanto, fala sobre a desilusão amorosa e o aprendizado que vem com a experiência de ser seduzido por alguém que não é o que parece ser.</p>
                <br>
                <p class="paragrafo-significado">Musicalmente, 'Angeleyes' é característica do estilo pop do ABBA, com melodias cativantes e harmonias vocais marcantes. A canção reflete a habilidade do grupo em criar músicas que, apesar de terem uma sonoridade alegre e dançante, muitas vezes carregam letras com temas mais profundos e emocionais. 'Angeleyes' é um exemplo dessa dualidade, onde a melodia animada contrasta com a mensagem mais melancólica da letra.</p>
            </div>
        </div>
        <div class="rodape">
            <footer>
                &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
            </footer>
        </div>
    </body>
</html>