<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Chicago</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Chicago</h1>
            <h2>Michael Jackson</h2>

            <ul class="menu-descricao">
                <li><a href="chicago.html">Letra</a></li>
                <li><a href="traducao06.html">Tradução</a></li>
                <li><a href="significado06.html">Significado</a></li>
            </ul>

            <div class="letra-musica">

                <h1>Letra</h1>
                <p>I met her on my way to Chicago</p>
                <p>Where she was all alone</p>
                <p>And so was I, so I asked her for her name</p>
                <p>She smiled and looked at me</p>
                <p>I was surprised to see</p>
                <p>That a woman like that was really into me</p>
                <br>
                <p>She said she didn't have no man</p>
                <p>Raised the kids the very best she can (she was lovin' me)</p>
                <p>She told me she was all alone</p>
                <p>Sad at home, she didn't have no phone (she was wantin' me)</p>
                <p>She said just to give her a page</p>
                <p>Fifty-nine was the code she gave (she was lovin' me)</p>
                <p>She lied to you, lied to me</p>
                <p>'Cause she was lovin' me, lovin' me</p>
                <p>Yeah</p>
                <br>
                <p>I never would've thought she was living like that</p>
                <p>Her words seemed so sincere</p>
                <p>When I held her near she would tell me how she feels</p>
                <p>It felt so real to me</p>
                <p>This girl, she had to be</p>
                <p>An angel sent from heaven just for me</p>
                <br>
                <p>She said she didn't have no man</p>
                <p>Raised the kids the very best she can (she was lovin' me)</p>
                <p>She told me she was all alone</p>
                <p>Sad at home, she didn't have no phone (she was wantin' me)</p>
                <p>She said just to give her a page</p>
                <p>Fifty-nine was the code she gave</p>
                <p>She lied to you, lied to me</p>
                <p>'Cause she was lovin' me, lovin' me</p>
                <p>Yeah</p>
                <br>
                <p>She tried to live a double life (she was lovin' me)</p>
                <p>Lovin' me while she was still your wife (she was wantin' me)</p>
                <p>She thought that lovin' me was cool</p>
                <p>While you at work and the kids at school (she was lovin' me)</p>
                <p>She said that it would never end</p>
                <p>Tried to get me any way she can (she was wantin' me)</p>
                <p>She lied to you, lied to me</p>
                <p>'Cause she got a family, family</p>
                <p>Yeah</p>
                <br>
                <p>Why? No, alright</p>
                <br>
                <p>I didn't know she was already spoken for</p>
                <p>'Cause I'm not that kind of man</p>
                <p>I swear that I would have never looked her way</p>
                <p>Now I feel so much shame</p>
                <p>And now things have to change</p>
                <p>You should know that I'm holding her to blame</p>
                <br>
                <p>She said she didn't have no man</p>
                <p>Raised the kids the very best she can (holdin' her to blame)</p>
                <p>She told me she was all alone</p>
                <p>Sad at home, she didn't have no phone (holdin' her to blame)</p>
                <p>She said just to give her a page</p>
                <p>Fifty-nine was the code she gave (holdin' her to blame)</p>
                <p>She lied to you, lied to me</p>
                <p>'Cause she was lovin' me, lovin' me</p>
                <p>Yeah (holdin' her to blame)</p>
                <br>
                <p>She tried to live a double life</p>
                <p>Lovin' me while she was still your wife (holdin' her to blame)</p>
                <p>She thought that lovin' me was cool</p>
                <p>While you at work and the kids at school (holdin' her to blame)</p>
                <p>She said that it would never end</p>
                <p>Tried to get me any way she can (holdin' her to blame)</p>
                <p>She lied to you, lied to me</p>
                <p>'Cause she got a family, family</p>
                <p>Yeah</p>
                <br>
                <p>She said she didn't have no man</p>
                <p>Raised the kids the very best she can (she was lovin' me)</p>
                <p>She told me she was all alone</p>
                <p>Sad at home, she didn't have no phone (she was lovin' me)</p>
                <p>She said just to give her a page</p>
                <p>Fifty-nine was the code she gave</p>
                <p>She lied to you, lied to me</p>
                <p>'Cause she was lovin' me, lovin' me</p>
                <p>Yeah (She was lovin' me)</p>
                <br>
                <p>She tried to live a double life</p>
                <p>Lovin' me while she was still your wife (she was wantin' me)</p>
                <p>She thought that lovin' me was cool (she was lovin' me)</p>
                <p>While you at work and the kids at school (she was lovin' me)</p>
                <p>She said that it would never end</p>
                <p>Tried to get me any way she can (she was wantin' me)</p>
                <p>She lied to you, lied to me</p>
                <p>'Cause she got a family, family</p>
                <p>Yeah</p>
            </div>

            <div class="foto-album6">
               <img src="../../_img/cover-06.jpg" alt="">
               <p>Chicago - 2014 </p>
               <audio src="../../_musicas/Michael Jackson - Chicago (Lyrics).mp3" controls class="audio6">musica</audio>
            </div>
        </div>
        <div class="rodape">
            <footer>
                &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
            </footer>
        </div>
    </body>
</html>