<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Chicago</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Chicago</h1>
            <h2>Michael Jackson</h2>

            <ul class="menu-descricao">
                <li><a href="chicago.html">Letra</a></li>
                <li><a href="traducao06.html">Tradução</a></li>
                <li><a href="significado06.html">Significado</a></li>
            </ul>

            <div class="letra-musica">

                <h1>Tradução</h1>
                <p>Conheci ela a caminho de Chicago</p>
                <p>Onde ela estava totalmente sozinha</p>
                <p>E eu também, então perguntei o nome dela</p>
                <p>Ela sorriu e olhou pra mim</p>
                <p>Fiquei surpreso em ver</p>
                <p>Que uma mulher daquelas estava mesmo interessada em mim</p>
                <br>
                <p>Ela disse que não tinha homem nenhum</p>
                <p>Criou os filhos da melhor forma que pôde (ela estava me amando)</p>
                <p>Me contou que estava sozinha</p>
                <p>Triste em casa, não tinha telefone (ela estava me querendo)</p>
                <p>Disse pra eu mandar uma mensagem pro pager dela</p>
                <p>Cinquenta e nove era o código que ela deu (ela estava me amando)</p>
                <p>Ela mentiu pra você, mentiu pra mim</p>
                <p>Porque ela estava me amando, me amando</p>
                <p>Sim</p>
                <br>
                <p>Nunca imaginei que ela viveria assim</p>
                <p>Suas palavras pareciam tão sinceras</p>
                <p>Quando a abracei, ela me contava o que sentia</p>
                <p>Parecia tão real pra mim</p>
                <p>Essa garota, tinha que ser</p>
                <p>Um anjo enviado do céu só pra mim</p>
                <br>
                <p>Ela disse que não tinha homem nenhum</p>
                <p>Criou os filhos da melhor forma que pôde (ela estava me amando)</p>
                <p>Me contou que estava sozinha</p>
                <p>Triste em casa, não tinha telefone (ela estava me querendo)</p>
                <p>Disse pra eu mandar uma mensagem pro pager dela</p>
                <p>Cinquenta e nove era o código que ela deu</p>
                <p>Ela mentiu pra você, mentiu pra mim</p>
                <p>Porque ela estava me amando, me amando</p>
                <p>Sim</p>
                <br>
                <p>Ela tentou viver uma vida dupla (ela estava me amando)</p>
                <p>Me amando enquanto ainda era sua esposa (ela estava me querendo)</p>
                <p>Pensou que me amar era legal</p>
                <p>Enquanto você estava no trabalho e as crianças na escola (ela estava me amando)</p>
                <p>Disse que nunca terminaria</p>
                <p>Tentou me ter de qualquer jeito que pudesse (ela estava me querendo)</p>
                <p>Ela mentiu pra você, mentiu pra mim</p>
                <p>Porque ela tem uma família, família</p>
                <p>Sim</p>
                <br>
                <p>Por quê? Não, tudo bem</p>
                <br>
                <p>Eu não sabia que ela já tinha alguém</p>
                <p>Porque eu não sou esse tipo de homem</p>
                <p>Juro que nunca teria olhado pra ela</p>
                <p>Agora me sinto tão envergonhado</p>
                <p>E agora as coisas têm que mudar</p>
                <p>Você deve saber que estou culpando ela</p>
                <br>
                <p>Ela disse que não tinha homem nenhum</p>
                <p>Criou os filhos da melhor forma que pôde (culpando ela)</p>
                <p>Me contou que estava sozinha</p>
                <p>Triste em casa, não tinha telefone (culpando ela)</p>
                <p>Disse pra eu mandar uma mensagem pro pager dela</p>
                <p>Cinquenta e nove era o código que ela deu (culpando ela)</p>
                <p>Ela mentiu pra você, mentiu pra mim</p>
                <p>Porque ela estava me amando, me amando</p>
                <p>Sim (culpando ela)</p>
                <br>
                <p>Ela tentou viver uma vida dupla</p>
                <p>Me amando enquanto ainda era sua esposa (culpando ela)</p>
                <p>Pensou que me amar era legal</p>
                <p>Enquanto você estava no trabalho e as crianças na escola (culpando ela)</p>
                <p>Disse que nunca terminaria</p>
                <p>Tentou me ter de qualquer jeito que pudesse (culpando ela)</p>
                <p>Ela mentiu pra você, mentiu pra mim</p>
                <p>Porque ela tem uma família, família</p>
                <p>Sim</p>
                <br>
                <p>Ela disse que não tinha homem nenhum</p>
                <p>Criou os filhos da melhor forma que pôde (ela estava me amando)</p>
                <p>Me contou que estava sozinha</p>
                <p>Triste em casa, não tinha telefone (ela estava me amando)</p>
                <p>Disse pra eu mandar uma mensagem pro pager dela</p>
                <p>Cinquenta e nove era o código que ela deu</p>
                <p>Ela mentiu pra você, mentiu pra mim</p>
                <p>Porque ela estava me amando, me amando</p>
                <p>Sim (ela estava me amando)</p>
                <br>
                <p>Ela tentou viver uma vida dupla</p>
                <p>Me amando enquanto ainda era sua esposa (ela estava me querendo)</p>
                <p>Pensou que me amar era legal (ela estava me amando)</p>
                <p>Enquanto você estava no trabalho e as crianças na escola (ela estava me amando)</p>
                <p>Disse que nunca terminaria</p>
                <p>Tentou me ter de qualquer jeito que pudesse (ela estava me querendo)</p>
                <p>Ela mentiu pra você, mentiu pra mim</p>
                <p>Porque ela tem uma família, família</p>
                <p>Sim</p>
            </div>

            <div class="foto-album6">
               <img src="../../_img/cover-06.jpg" alt="">
               <p>Chicago - 2014 </p>
               <audio src="../../_musicas/Michael Jackson - Chicago (Lyrics).mp3" controls class="audio6">musica</audio>
            </div>
        </div>
        <div class="rodape">
            <footer>
                &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
            </footer>
        </div>
    </body>
</html>