<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <link rel="stylesheet" href="../../styles/descricao.css" />
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>
    <title>Couting my Blessings</title>
  </head>

  <body>
    <header id="cabecalho">
      <div id="container">
        <nav>
          <a href="../../index.html" class="logo"><img src="../../images/logo.png" alt=""/></a>

          <a class="menu" href="../../index.html">home</a>
          <a class="menu" href="../playlist.html">playlist</a>
          <a class="menu" href="../about-us.html">about us</a>

          <div class="btn-contato">
            <a href=""><button>contato</button></a>
          </div>
        </nav>
      </div>
    </header>

    <div class="descricao">
      <h1>Couting my Blessings</h1>
      <h2>Seph Schlueter</h2>

      <ul class="menu-descricao">
        <li><a href="counting-my-blessings.html">Letra</a></li>
        <li><a href="tradução01.html">Tradução</a></li>
        <li><a href="significado01.html">Significado</a></li>
      </ul>

      <div class="letra-musica">
        <h1>Letra</h1>

        <p>It's like it was yesterday</p>
        <p>I was praying for a miracle</p>
        <p>Scared to have a little hope</p>
        <p>And now looking back today</p>
        <p>Seeing all the things You've done</p>
        <p>I can't even add them up</p>
        <br>
        <p>One, two, three</p>
        <p>Up to infinity</p>
        <p>I'd run out of numbers</p>
        <p>Before I could thank You for everything</p>
        <br>
        <p>God, I'm still counting my blessings</p>
        <p>All that You've done in my life</p>
        <p>The more that I look in the details</p>
        <p>The more of Your goodness I find</p>
        <br>
        <p>Father, on this side of Heaven</p>
        <p>I know that I'll run out of time</p>
        <p>But I will keep counting my blessings</p>
        <p>Knowing I can't count that high</p>
        <br>
        <p>And I know that seasons never last forever</p>
        <p>So, God, I will remember all of the reasons</p>
        <p>My heart has to be grateful</p>
        <p>All the times You have been faithful to me</p>
        <br>
        <p>God, I'm still counting my blessings</p>
        <p>All that You've done in my life</p>
        <p>The more that I look in the details</p>
        <p>The more of Your goodness I find</p>
        <br>
        <p>Father, on this side of Heaven</p>
        <p>I know that I'll run out of time</p>
        <p>But I will keep counting my blessings</p>
        <p>Knowing I can't count that high</p>
        <br>
        <p>Oh, I can't count that high (high)</p>
        <p>Oh, oh, oh, oh (high)</p>
        <p>Oh, Your goodness, Your goodness</p>
        <br>
        <p>One, two, three</p>
        <p>Up to infinity</p>
        <p>I'd run out of numbers</p>
        <p>Before I could thank You for everything</p>
        <br>
        <p>God, I'm still counting my blessings</p>
        <p>All that You've done in my life (oh)</p>
        <p>The more that I look in the details (in the details)</p>
        <p>The more of Your goodness I find (oh)</p>
        <br>
        <p>Father, on this side of Heaven</p>
        <p>I know that I'll run out of time (oh)</p>
        <p>But I will keep counting my blessings</p>
        <p>Knowing I can't count that high (high)</p>
        <br>
        <p>I will keep counting my blessings</p>
        <p>Knowing I can't count that high</p>
      </div>

        <div class="foto-album">
            <img src="../../images/counting-my-blessings.jpg" alt="" />
            <p>Couting my Blessings - 2023</p>
            <audio
            src="../../songs/Seph Schlueter - Counting My Blessings (Lyric Video).mp3"
            controls class="audio1">
            </audio>
        </div>
    </div>
      <footer>
        <p>&copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves</p>
      </footer>
  </body>
</html>
