<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles/style.css">
        <link rel="stylesheet" href="../../styles/descricao.css">
        <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
        <title>Couting my Blessings</title>
    </head>

    <body>

        <header id="cabecalho">
            <div id="container">
                <nav>
                    <a href="../../index.html" class="logo"><img src="../../images/logo.png" alt=""/></a>

                    <a class="menu" href="../../index.html">home</a>
                    <a class="menu" href="../playlist.html">playlist</a>
                    <a class="menu" href="../about-us.html">about us</a>

                    <div class="btn-contato">
                        <a href=""><button>contato</button></a>
                    </div>
                </nav>
            </div>
        </header>

        <div class="descricao">

            <h1>Couting my Blessings</h1>
            <h2>Seph Schlueter</h2>

            <ul class="menu-descricao">
                <li><a href="Couting-my-blessings/counting-my-blessings.html">Letra</a></li>
                <li><a href="Couting-my-blessings/tradução01.html">Tradução</a></li>
                <li><a href="Couting-my-blessings/significado01.html">Significado</a></li>
            </ul>
            <h1>Significado</h1>
            <div class="letra-musica">
                <p class="paragrafo-significado">A música 'Counting My Blessings', interpretada por Seph Schlueter, é um hino de gratidão e reconhecimento das bênçãos recebidas na vida. A letra reflete uma jornada pessoal de alguém que, inicialmente com receio de ter esperança, passa a reconhecer e agradecer pelas inúmeras dádivas que recebeu. Através de uma linguagem simples, mas carregada de emoção, o artista expressa um sentimento de gratidão profunda e inesgotável.
                </p>
                <br>
                <p class="paragrafo-significado">A repetição do ato de contar as bênçãos, 'One, two, three, up to infinity', simboliza a imensurável generosidade e bondade que o cantor percebe em sua vida, uma bondade tão vasta que supera a capacidade de contagem e compreensão humana. A música sugere que, ao prestar atenção nos detalhes ('The more that I look in the details'), mais se percebe a presença do divino ('The more of Your goodness I find'). Essa percepção é acompanhada pela consciência de que, mesmo dedicando toda uma vida a esse exercício de gratidão, ainda assim não seria possível agradecer por tudo ('I'd run out of numbers before I could thank You for everything').</p>
                <br>
                <p class="paragrafo-significado">A canção também aborda a efemeridade da vida ('And I know that seasons never last forever') e a importância de se lembrar das razões para ser grato, mesmo diante das mudanças inevitáveis do tempo. 'Counting My Blessings' é um convite para que se adote uma postura de apreciação constante, reconhecendo que, mesmo diante das adversidades, há sempre motivos para ser grato. Seph Schlueter, com sua música, nos encoraja a olhar além das dificuldades e a valorizar cada bênção, por menor que seja, como um presente valioso em nossas vidas.</p>
                
            </div>
        </div>
        <footer>
            <p>&copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves</p>
        </footer>
    </body>
</html>