<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Couting my Blessings</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Couting my Blessings</h1>
            <h2>Seph Schlueter</h2>

            <ul class="menu-descricao">
                <li><a href="../Couting-my-blessings/counting-my-blessings.html">Letra</a></li>
                <li><a href="../Couting-my-blessings/tradução01.html">Tradução</a></li>
                <li><a href="../Couting-my-blessings/significado01.html">Significado</a></li>
            </ul>

            <div class="letra-musica">
                <h1>Tradução</h1>
                <p>É como se tivesse sido ontem</p>
                <p>Eu estava orando por um milagre</p>
                <p>Com medo de ter um pouquinho de esperança</p>
                <p>E agora, hoje, olhando para o passado</p>
                <p>Vendo todas as coisas que Você fez</p>
                <p>Nem sequer consigo somá-las</p>
                <p>Uma, duas, três</p>
                <p>Até o infinito</p>
                <p>Eu ficaria sem números</p>
                <p>Antes de poder agradecer a Você por tudo</p>
                <p>Deus, ainda estou contando minhas bênçãos</p>
                <p>Tudo que Você fez em minha vida</p>
                <p>Quanto mais observo os detalhes</p>
                <p>Mais encontro Sua bondade</p>
                <p>Pai, neste lado do Paraíso</p>
                <p>Sei que ficarei sem tempo</p>
                <p>Mas continuarei contando minhas bênçãos</p>
                <p>Sabendo que não posso contar tão alto</p>
                <p>E sei que as estações nunca duram para sempre</p>
                <p>Então, Deus, lembrarei de todos os motivos</p>
                <p>Que meu coração tem para ser grato</p>
                <p>Todas as vezes que Você foi fiel a mim</p>
                <p>Deus, ainda estou contando minhas bênçãos</p>
                <p>Tudo que Você fez em minha vida</p>
                <p>Quanto mais observo os detalhes</p>
                <p>Mais encontro Sua bondade</p>
                <p>Pai, neste lado do Paraíso</p>
                <p>Sei que ficarei sem tempo</p>
                <p>Mas continuarei contando minhas bênçãos</p>
                <p>Sabendo que não posso contar tão alto</p>
                <p>Oh, não posso contar tão alto (alto)</p>
                <p>Oh, oh, oh, oh (alto)</p>
                <p>Oh, Sua bondade, Sua bondade</p>
                <p>Uma, duas, três</p>
                <p>Até o infinito</p>
                <p>Eu ficaria sem números</p>
                <p>Antes de poder agradecer a Você por tudo</p>
                <p>Deus, ainda estou contando minhas bênçãos</p>
                <p>Tudo que Você fez em minha vida (oh)</p>
                <p>Quanto mais observo os detalhes (os detalhes)</p>
                <p>Mais encontro Sua bondade (oh)</p>
                <p>Pai, neste lado do Paraíso</p>
                <p>Sei que ficarei sem tempo (oh)</p>
                <p>Mas continuarei contando minhas bênçãos</p>
                <p>Sabendo que não posso contar tão alto (alto)</p>
                <p>Mas continuarei contando minhas bênçãos</p>
                <p>Sabendo que não posso contar tão alto</p>
            </div>

            <div class="foto-album">
               <img src="../../_img/cover-01.jpg" alt="">
               <p>Couting my Blessings - 2023 </p>
               <audio src="../../_musicas/Seph Schlueter - Counting My Blessings (Lyric Video).mp3" controls class="audio1">musica</audio>
            </div>
        </div>
        <div class="rodape">
            <footer>
                &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
            </footer>
        </div>
    </body>
</html>