<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Total Eclipse Of The Heart</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>
                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Total Eclipse Of The Heart</h1>
            <h2>Bonnie Tyler</h2>

            <ul class="menu-descricao">
                <li><a href="Total-eclipse-of-the-heart.html">Letra</a></li>
                <li><a href="traducao03.htm">Tradução</a></li>
                <li><a href="significado03.html">Significado</a></li>
            </ul>

            <h1>Letra</h1>
            <div class="letra-musica2">
                <p>(Turn around)</p>
                <p>Every now and then I get a little bit lonely and you're never coming 'round</p>
                <p>(Turn around)</p>
                <p>Every now and then I get a little bit tired of listening to the sound of my tears</p>
                <br>
                <p>(Turn around)</p>
                <p>Every now and then I get a little bit nervous that the best of all the years have gone by</p>
                <p>(Turn around)</p>
                <p>Every now and then I get a little bit terrified and then I see the look in your eyes</p>
                <br>
                <p>(Turn around, bright eyes)</p>
                <p>Every now and then I fall apart</p>
                <p>(Turn around, bright eyes)</p>
                <p>Every now and then I fall apart</p>
                <br>
                <p>(Turn around)</p>
                <p>Every now and then I get a little bit restless and I dream of something wild</p>
                <p>(Turn around)</p>
                <p>Every now and then I get a little bit helpless and I'm lying like a child in your arms</p>
                <br>
                <p>(Turn around)</p>
                <p>Every now and then I get a little bit angry and I know I've got to get out and cry</p>
                <p>(Turn around)</p>
                <p>Every now and then I get a little bit terrified, but then I see the look in your eyes</p>
                <br>
                <p>(Turn around, bright eyes)</p>
                <p>Every now and then I fall apart</p>
                <p>(Turn around, bright eyes)</p>
                <p>Every now and then I fall apart</p>
                <br>
                <p>And I need you now, tonight</p>
                <p>And I need you more than ever</p>
                <p>And if you only hold me tight</p>
                <p>We'll be holding on forever</p>
                <br>
                <p>And we'll only be making it right</p>
                <p>'Cause we'll never be wrong</p>
                <p>Together we can take it to the end of the line</p>
                <p>Your love is like a shadow on me all of the time (all of the time)</p>
                <br>
                <p>I don't know what to do and I'm always in the dark</p>
                <p>We're living in a powder keg and giving off sparks</p>
                <br>
                <p>I really need you tonight</p>
                <p>Forever's gonna start tonight</p>
                <p>Forever's gonna start tonight</p>
                <br>
                <p>Once upon a time I was falling in love</p>
                <p>Now I'm only falling apart</p>
                <p>There's nothing I can do</p>
                <p>A total eclipse of the heart</p>
                <br>
                <p>Once upon a time there was light in my life</p>
                <p>But now there's only love in the dark</p>
                <p>Nothing I can say</p>
                <p>A total eclipse of the heart</p>
                <br>
                <p>(Turn around, bright eyes)</p>
                <p>(Turn around, bright eyes)</p>
                <br>
                <p>(Turn around)</p>
                <p>Every now and then I know you'll never be the boy you always wanted to be</p>
                <p>(Turn around)</p>
                <p>But every now and then I know you'll always be the only boy who wanted me the way that I am</p>
                <br>
                <p>(Turn around)</p>
                <p>Every now and then I know there's no one in the universe as magical and wondrous as you</p>
                <p>(Turn around)</p>
                <p>Every now and then I know there's nothing any better</p>
                <p>There's nothing that I just wouldn't do</p>
                <br>
                <p>(Turn around, bright eyes)</p>
                <p>Every now and then I fall apart</p>
                <p>(Turn around, bright eyes)</p>
                <p>Every now and then I fall apart</p>
                <br>
                <p>And I need you now, tonight (and I need you, and I need you)</p>
                <p>And I need you more than ever</p>
                <p>And if you only hold me tight (if you only)</p>
                <p>We'll be holding on forever</p>
                <br>
                <p>And we'll only be making it right (and we'll never)</p>
                <p>'Cause we'll never be wrong</p>
                <p>Together we can take it to the end of the line</p>
                <p>Your love is like a shadow on me all of the time (all of the time)</p>
                <br>
                <p>I don't know what to do, I'm always in the dark</p>
                <p>Living in a powder keg and giving off sparks</p>
                <br>
                <p>I really need you tonight</p>
                <p>Forever's gonna start tonight</p>
                <p>(Forever's gonna start tonight)</p>
                <br>
                <p>Once upon a time I was falling in love</p>
                <p>Now I'm only falling apart</p>
                <p>There's nothing I can do</p>
                <p>A total eclipse of the heart</p>
                <br>
                <p>Once upon a time there was light in my life</p>
                <p>But now there's only love in the dark</p>
                <p>Nothing I can say</p>
                <p>A total eclipse of the heart</p>
                <br>
                <p>A total eclipse of the heart</p>
                <p>A total eclipse of the heart</p>
                <br>
                <p>(Turn around, bright eyes)</p>
                <p>(Turn around, bright eyes)</p>
                <p>(Turn around)</p>
            </div>

            <div class="foto-album3">
               <img src="../../_img/cover-03.jpg" alt="">
               <p> Total Eclipse Of The Heart- 2023 </p> 
               <audio src="../../_musicas/Bonnie Tyler - Turn Around (Total Eclipse Of The Heart Official Audio).mp3" controls class="audio2"></audio>
            </div>
        </div>
        <div class="rodape">
            <footer>
                &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
            </footer>
        </div>

    </body>
</html>