<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../_css/style.css">
        <link rel="stylesheet" href="../../_css/playlist.css">
        <link rel="stylesheet" href="../../_css/descricao.css">
        <link rel="shortcut icon" href="../../_img/favicon.ico" type="image/x-icon">
        <title>Don’t let the sun go down on me</title>
    </head>

    <body>

        <header id="cabecalho">

            <div id="contaider">

                <div class="menu">

                    <div class="logo">
                        <a href="../../index.html"><img src="../../_img/icon-removebg-preview.png" alt=""></a>
                    </div>

                    <nav>

                        <ul>
                            <li><a href="../../index.html">HOME</a></li>
                            <li><a href="../playlist.html">PLAYLIST</a></li>
                            <li><a href="../about-us.html">ABOUT US</a></li>
                        </ul>

                    </nav>

                    <div class="btn-contato">

                        <button>CONTATO</button>

                    </div>

                </div> <!--menu-->

            </div> <!--containder-->

        </header> <!--fim header-->

        <div class="descricao">

            <h1>Don’t let the sun go down on me</h1>
            <h2>Elton John</h2>

            <ul class="menu-descricao">
                <li><a href="Dont-let-the-sun-go-down-on-me.html">Letra</a></li>
                <li><a href="traducao08.html">Tradução</a></li>
                <li><a href="significado08.html">Significado</a></li>
            </ul>

            <div class="letra-musica">
                <h1>Significado</h1>

                <p class="paragrafo-significado">A canção 'Don't Let The Sun Go Down On Me', interpretada por Elton John, é uma poderosa balada que explora temas de desespero, isolamento e a busca por compreensão e aceitação. A letra descreve a luta interna de alguém que se sente perdido na escuridão de seus próprios problemas e inseguranças, simbolizados pela metáfora do sol se pondo, que representa o fim e a perda de esperança.
                </p>
                <p class="paragrafo-significado">O narrador expressa um sentimento de arrependimento e a sensação de estar congelado no tempo, incapaz de mudar seu destino. A menção de que suas 'fotos parecem desbotar para preto e branco' sugere uma perda de vitalidade e cor na vida do narrador, enquanto ele se vê incapaz de encontrar 'a linha romântica certa', o que pode ser interpretado como uma dificuldade em expressar seus sentimentos e se conectar com os outros. A música também aborda a ideia de mal-entendidos em relacionamentos, onde o narrador sente que suas intenções foram interpretadas de forma errada, levando ao isolamento.</p>
                <p class="paragrafo-significado">O refrão é um apelo emocional para não ser abandonado ou desistido, implorando por apoio e amor para curar suas feridas emocionais. A repetição da frase 'Don't let the Sun go down on me' ressoa como um pedido desesperado para manter a luz da esperança e do amor acesa em sua vida. A música, com sua melodia comovente e letras profundas, toca em sentimentos universais de vulnerabilidade e a necessidade humana de conexão e apoio.</p>
                

            </div>

            <div class="foto-album10">
                <img src="../../_img/cover-08.jpg" alt="">
                <p>Don't Let the Sun Go Down On Me - 1991 </p>
                <audio src="../../_musicas/Don't Let The Sun Go Down On Me (Remastered 1995).mp3" controls class="audio10"></audio>
             </div>
         </div>
         
         <div class="rodape">
             <footer>
                 &copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves
             </footer>
         </div>
 
        </div>
    </body>
</html>