<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Welcome to my Playlist</title>
  </head>

  <body>
    <header id="cabecalho">
      <div id="container">
        <nav>
            <a href="index.html" class="logo"><img src="images/logo.png" alt="" /></a>
        

            <a class="menu" href="index.html">home</a>
            <a class="menu" href="html/playlist.html">playlist</a>
            <a class="menu" href="html/about-us.html">about us</a>

            <div class="btn-contato">
                <a href=""><button>contato</button></a>
            </div>
        </nav>
      </div>
    </header>

    <section class="banner">
      <h1>Descubra sua próxima <span>música favorita</span></h1>
    </section>

    <section class="conteudo">
        <img src="images/listening-music.jpeg" alt="">

        <div class="informacoes">
            <h1>Bem-vindo à minha playlist</h1>
            <p>Escute as melhores músicas do momento.</p>
            <a href="html/playlist.html"><button>Me leve lá</button>  </a>
        </div>
    </section>

    <footer>
        <p>&copy; April of 2024 | Mirela Amarante e Stefanny Gonçalves</p>
    </footer>
    
    <script src="scripts/index.js"></script>
  </body>
</html>
